body, html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Rouge Script', cursive !important;
  font-weight: 300 !important;
  text-align: center;
  font-size: 60px !important;
  margin: 50px 0px !important;
}

h3 {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 300 !important;
  font-size: 20px !important;
}

h4 {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 700 !important;
  font-size: 15px !important;
  margin: 0 !important;
  padding: 0 !important;
  color: #C6AB4F !important;
}

.no-margin-top {
  margin-top: 0px !important;
  padding-top: 0px !important;
}

.no-margin-bottom {
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
}

.text-align-left {
  text-align: left !important;
}

p.text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
}

ol.ol-directions {
  padding-left: 1.8em !important;
}

li.directions {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.italic-directions {
  font-weight: 300;
  font-size: 18px;
}

.event {
  margin-bottom: 30px !important;
}

.navigation {
  width: 100%;
  height: 100px;
  position: fixed;
  display: inline-flex;
  justify-content: center;
  margin: 0;
  top: 0;
  overflow: hidden;
  background-color: white;
  border-bottom: 1px solid #d3d3d3;
  margin: auto;
  z-index: 99999;
}

.nav--links {
  display: flex;
  width: 1200px;
  justify-content: space-around;
  align-items: center;
}

.nav--link-left {
  display: inline-flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;

}

.nav--link-right {
  display: inline-flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.nav--logo {
  display: inline-block;
  width: 200px;
  position: absolute;
}

.nav--logo-top {
  color: #C6AB4F;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 25px;
  width: 200px;
  text-align: center;
  display: block;
}

.nav--logo-bottom {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 15px;
  text-align: center;
  position: relative;
  top: -5px;
  right: -13px;
}

a.nav--link {
  text-decoration: none;
  cursor: pointer;
  color: #54595F;
  transition-duration: 0.3s;
  position: relative;
  font-size: 1.4rem;
}

a:hover.nav--link  {
  text-decoration: none;
  color: #C6AB4F;
  transition-duration: 0.3s;
}

a:active.nav--link  {
  text-decoration: none;
  color: #C6AB4F;
  transition-duration: 0.3s;
}

a.nav--link span.glyphicon.glyphicon-heart {
  position: absolute;
  left: -16px;
  top: 2px;
  visibility: hidden;
}

a:hover.nav--link span.glyphicon.glyphicon-heart {
  visibility: visible;
}

.main.container-fluid {
  width: 100%;
  padding: 0;
  margin-top: 100px;
}

.main.container-fluid img {
  width: 100%;
}

.container {
  padding: 0px 50px 0px 50px !important;
}

.content {
  margin: 30px;
  height: 300px;
}

.carousel-inner {
  // max-height: calc(100vh - 100px) !important;
}

#our_story {
  width: 100%;
  max-width: 850px;
}

#events {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  max-width: 850px;
}

ul {
  display:table;
  margin:0 auto;
}

#rsvp {
  margin: 0 auto;
  width: 100%;
  max-width: 850px;
}
#directions {
  margin: 0 auto;
  width: 100%;
  max-width: 850px;
}

#gallery {
  margin: 0 auto;
  width: 100%;
  max-width: 850px;
  margin-bottom: 50px;
}

#food_menu {
  margin: 0 auto;
  width: 100%;
  max-width: 850px;
  margin-bottom: 50px;
}

#footer {
  background-color: #C6AB4F;
  height: 200px;
}

@media screen and (max-width: 768px) {
  .nav--link-left {
    display: none;
  }

  .nav--link-right {
    display: none;
  }

  .container {
    padding: 0 20px 0 20px !important;
  }
}
